
*{
	margin: 0;
	padding: 0;
	border:0;
	box-sizing: border-box;
}
header{
	
	width: 100%;
	min-height: 200px;
	display: grid;
	grid-template-columns: 50% 50% ;
	background-image: url("../../assets/images/fondo3.jpg");
	border-bottom: 4px solid brown;
}

.texto{
	text-align: center;
}


.imagen{
	
	border-radius: 100%;
	width: 40vh;
	margin-top: 30px;
	display: flex;
	border:  4px solid brown;
	
}


@media screen and (max-width:768px){
	header{
		flex-direction: row;
		justify-content: space-between;
}
}