.add-button{
	padding: 10px 20px;
	font-size: 20px;
	color: #FFFFFF;
	border-color: #586D7F;
	border-radius: 10px;
	float: none ;
}

.add-button:hover{
	border-color: #63B8FF;
}

.add-button:focus{
	outline: none;
}
